//color
$color-white-1: #fff;
$color-black-1: #181818;
$color-black-2: #191919;
$color-hover-1: #ee5b54;
$color-pink-1: #b61984;
$color-bg-1: #dcd1f3;
$color-bg-2: #aa017e;

//font-weight
$fw-1: 400;
$fw-2: 500;
$fw-3: 600;
$fw-4: 700;

//font-size
$fs-1: .75rem;
$fs-2: .8em;
$fs-3: 1.55rem;
$fs-4: 1.1rem;
$fs-5: 2.5rem;
$fs-6: 3.8rem;
$fs-7: 13px;
$fs-8: 17px;
$fs-9: 24px;
$fs-10: 37px;
$fs-11: 11px;

//line-height

$lh-1: 1.8em;


//Padding
$pd-1: 25px;
$pd-2: 225px;
$pd-3: 13px;
$pd-4: 44px;
$pd-5: 100px;
$pd-6: 8px;
$pd-7: 60px;
$pd-8: 150px;
$pd-9: 30px;

//transiton
$ts-1: all 0.3s;
$ts-2: all 0.5s;
$ts-3: all 0.8s;
$ts-4: all 0.3s ease;
$ts-5: all 1s;
$ts-6: all 0.2s;

//boder-radius
$radius-1: 24px;

//box-shadow
$bs-1: 0 0 0 48px $color-pink-1 inset;
$bs-2: 0 0 0 1px $color-pink-1 inset;
$bs-3: 0 5px 10px 0 #8e8a8a;
$bs-4: 0 0 0 1px $color-white-1 inset;


//break points
$breakpoints: (
    "extra-large": 1200px,
    "large": 992px,
    "medium": 768px,
    "small": 576px
);
