*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    line-height: $lh-1;
    @include styleText($fs-7,$fw-1,$color-black-1);
}
